.claim-details-container {
  background-color: #f8f9fa;
  min-height: calc(100vh - 60px);
}

.italic {
  font-style: italic;
}

:host ::ng-deep {
  .badge {
    font-size: 0.85rem;
    padding: 0.5em 1em;
  }
}

.list-group-item {
  border-color: rgba(0,0,0,0.05);
  background: transparent;
  
  small {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
  }
}
