@use '../../../styles/variables' as *;

.p-button.p-button-contrast {
  background: #1a237e !important;
  color: #fff !important;
  border: 1px solid #1a237e !important;

  &:hover:not(:disabled) {
    background: #fff !important;
    color: #1a237e !important;
    border: 1px solid #1a237e !important;
  }
}

.p-button.btn-dark-blue-hover {
  background: #1a237e !important;
  color: #fff !important;
  border-color: #1a237e !important;

  &:hover:not(:disabled) {
    background: #fff !important;
    border-color: #1a237e !important;
    color: #1a237e !important;
  }
}