@use '../../../styles/variables' as *;

.p-button.p-button-contrast {
  background: #ccdef9 !important;
  color: #000909 !important;
  border: 1px solid #ccdef9 !important;
  border-radius: 50px !important; // Pill shape

  &:hover:not(:disabled) {
    background: #1a237e !important;
    color: #fff !important;
    border: 1px solid #1a237e !important;
  }
}

.p-button.btn-dark-blue-hover {
  background: #ccdef9 !important;
  color: #000909 !important;
  border-color: #ccdef9 !important;
  border-radius: 50px !important; // Pill shape

  &:hover:not(:disabled) {
    background: #1a237e !important;
    border-color: #1a237e !important;
    color: #fff !important;
  }
}