:host {
  display: block;
  width: 100%;
  min-height: 100vh;
  background-image: url('../assets/background_img.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}