<app-card *ngIf="isVisible" class="modal-overlay">
  <div class="modal-container">
    <div class="modal-header">
      <h2 class="modal-title">Vehicle Number : {{ vehicleNumber }}</h2>
      <app-btn (click)="onClose()" variant="default" class="close-button">✕</app-btn>
    </div>

    <div class="modal-body">
      <div class="tabs-navigation">
        <app-btn
          *ngFor="let tab of tabs"
          (click)="onTabChange(tab.id)"
          [variant]="isTabActive(tab.id) ? 'primary' : 'default'"
          [class.active]="isTabActive(tab.id)"
        >
          {{ tab.label }}
        </app-btn>
      </div>

      <div class="tab-content">
        <app-vehicle-detail-tab
          *ngIf="isTabLoaded('vehicle-detail')"
          [vehicleNumber]="vehicleNumber"
          [class.hidden]="!isTabActive('vehicle-detail')"
        ></app-vehicle-detail-tab>

        <app-fitness-tab
          *ngIf="isTabLoaded('fitness')"
          [vehicleNumber]="vehicleNumber"
          [class.hidden]="!isTabActive('fitness')"
        ></app-fitness-tab>

        <app-fuel-tab
          *ngIf="isTabLoaded('fuel')"
          [vehicleNumber]="vehicleNumber"
          [class.hidden]="!isTabActive('fuel')"
        ></app-fuel-tab>

        <app-maintenance-tab
          *ngIf="isTabLoaded('maintenance')"
          [vehicleNumber]="vehicleNumber"
          [class.hidden]="!isTabActive('maintenance')"
        ></app-maintenance-tab>

        <app-service-tab
          *ngIf="isTabLoaded('service')"
          [vehicleNumber]="vehicleNumber"
          [class.hidden]="!isTabActive('service')"
        ></app-service-tab>

        <app-battery-tab
          *ngIf="isTabLoaded('battery')"
          [vehicleNumber]="vehicleNumber"
          [class.hidden]="!isTabActive('battery')"
        ></app-battery-tab>

        <app-tyres-tab
          *ngIf="isTabLoaded('tyres')"
          [vehicleNumber]="vehicleNumber"
          [class.hidden]="!isTabActive('tyres')"
        ></app-tyres-tab>

        <app-transfer-tab
          *ngIf="isTabLoaded('transfer')"
          [vehicleNumber]="vehicleNumber"
          [class.hidden]="!isTabActive('transfer')"
        ></app-transfer-tab>
      </div>
    </div>
  </div>
</app-card>
