<div class="app-dropdown" [class.open]="isOpen">
  <button
    class="app-dropdown-toggle"
    [class]="buttonClass"
    [class.sm]="size === 'sm'"
    [class.lg]="size === 'lg'"
    [disabled]="disabled"
    (click)="toggleDropdown($event)"
    [attr.aria-expanded]="isOpen"
    type="button"
  >
    <span class="dropdown-label">
      @if (icon) {
        <i [class]="icon" style="margin-right: 8px;"></i>
      }
      {{ label }}
    </span>
    @if (showArrow) {
      <i class="pi pi-chevron-down dropdown-arrow" [class.rotate-180]="isOpen" style="font-size: 0.7rem; margin-left: 4px;"></i>
    }
  </button>
  <ul class="app-dropdown-menu" [class]="menuClass" [class.show]="isOpen">
    @for (item of items; track item.label) {
      <li class="app-dropdown-item" [class.disabled]="item.disabled" (click)="selectItem(item, $event)">
        {{ item.label }}
      </li>
    }
  </ul>
</div>
