<div class="app-dropdown" [class.open]="isOpen">
  <button
    class="app-dropdown-toggle"
    [disabled]="disabled"
    (click)="toggleDropdown($event)"
    [attr.aria-expanded]="isOpen"
    type="button"
  >
    <span class="dropdown-label">{{ label }}</span>
    @if (showArrow) {
      <span class="dropdown-arrow" [class.rotate-180]="isOpen">▼</span>
    }
  </button>
  <ul class="app-dropdown-menu" [class]="menuClass" [class.show]="isOpen">
    @for (item of items; track item.label) {
      <li class="app-dropdown-item" [class.disabled]="item.disabled" (click)="selectItem(item, $event)">
        {{ item.label }}
      </li>
    }
  </ul>
</div>
